body{
    background: black;
    box-sizing: border-box;
}

img {
    width: 70px;
}

.col-sm-2,
.col-sm-1{
    background: #323840;
    color: white;
    height: 30vh;
    font-size: 80px;
    line-height: 160px;
    border-radius: 10px;
}
